<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">

    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Log format: timestamp, thread, log level, logger name, message -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread]: %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
